<a href="https://colab.research.google.com/github/47252uni/AI_lab/blob/main/AI_Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("welcom to AI lab no :01")

welcom to AI lab no :01

In [3]:
import time
print(time.ctime())

Fri Feb 20 09:47:53 2026

## ***welcome not***

In [4]:

x = "A"
print("Type of x:", x, type(x))


x = "Hello World"
print("Type of x:", x, type(x))


x = 50
print("Type of x:", x, type(x))


x = 60.5
print("Type of x:", x, type(x))


x = True
print("Type of x:", x, type(x))


x = 3j
print("Type of x:", x, type(x))


x = ["item1", "item2", "item3"]
print("Type of x:", x, type(x))

x = ("Father", "Mother")
print("Type of x:", x, type(x))


x = range(5)
print("Type of x:", x, type(x))


x = {"name": "Ali", "age": 24}

print("Type of x:", x, type(x))


x = {"Apple", "Mango", "Banana"}

print("Type of x:", x, type(x))

Type of x: A <class 'str'>
Type of x: Hello World <class 'str'>
Type of x: 50 <class 'int'>
Type of x: 60.5 <class 'float'>
Type of x: True <class 'bool'>
Type of x: 3j <class 'complex'>
Type of x: ['item1', 'item2', 'item3'] <class 'list'>
Type of x: ('Father', 'Mother') <class 'tuple'>
Type of x: range(0, 5) <class 'range'>
Type of x: {'name': 'Ali', 'age': 24} <class 'dict'>
Type of x: {'Mango', 'Banana', 'Apple'} <class 'set'>

In [8]:
def prntstring(str):
  print(str)
  return
prntstring("function called")

function called

In [9]:
num1 = int(input("your integer 1: "))
num2 = int(input("your integer 2: "))
num3 = int(input("your integer 3: "))
sum = num1 + num2 + num3
print(f"your sum is", sum)

your integer 1: 2
your integer 2: 4
your integer 3: 7
your sum is 13